button {
  margin: 5px 10px; }
div{
  text-align: center;
}

.row {
  border: 1px solid white;
  background-color: green;
  color: white;

}


.rightBorder{
  border-right: 1px solid white;
}
.leftBorder{
  border-left: 1px solid white;
}

.noBottom{
  border-bottom: none;
}

.noTop {
  border-top: none;
}

#playerScore, #opponentScore {
font-size: 20px;
color: red; }

#first, #second, #third {
color: red; }

.balls, .strikes, .outs {
padding: 0 9px;
margin: 0 1px;
border: 1px solid gray;
border-radius: 100%; }

.ballOn {
background-color: yellow; }

.strikeOn {
background-color: blue; }

.outsOn {
background-color: red; }

#topBox, #bottomBox {
width: 200px;
border: 1px dashed black;
margin: 1px auto;
height: 100px;
z-index: 1; }

#topBox {
border-bottom: none;
margin-top: 50px; }

#bottomBox {
border-top: none;
margin-bottom: 50px; }

#description {
min-height: 50px; }

#pitchMeter {
height: 20px;
width: 180px;
margin: 10px auto;
border: 1px solid black;
background-color: blue;
position: relative; }

.meter {
box-sizing: border-box;
display: inline-block;
width: 30px;
height: 20px;
background-color: red;
border: 1px solid black; }

.inline {
box-sizing: border-box;
display: inline;
float: right;
height: 20px;
width: 60px; }

.good {
display: inline-block;
box-sizing: border-box;
height: 19px;
background-color: green;
width: 30px;
border-left: 1px solid black; }

.bad {
display: inline-block;
box-sizing: border-box;
background-color: red;
width: 30px;
height: 19px;
border-left: 1px solid black; }

#marker {
font-weight: bold;
color: yellow;
position: absolute;
left: 0px;
top:0px; }

#ballLoc {
width: 300px;
height: 300px;
position: relative;
border: 1px red solid;
margin: 0 auto; }

#wiffleBall {
position: absolute;
top: 0;
left: 0;
font-size: 0px;
z-index: -1; }

#diamond {
    vertical-align: top;

      width: 110px;
      margin: auto;
      margin-top: 50px;
      /*position: relative;*/
      overflow: hidden;
      transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
  }

  .title-diamond {
      text-align: center;
      color: #fff;
      font-variant: small-caps;
      font-size: 19px;
      margin-top: 70px;
           transform:         rotate(-45deg);
      -moz-transform:         rotate(-45deg);
               -ms-transform: rotate(-45deg);
           -webkit-transform: rotate(-45deg);
        -o-transform:         rotate(-45deg);
  }

  .base {
      width: 50px;
      height: 50px;
      border: #00665b 1px solid;
      background-color: white;
      margin-bottom: 3px;
      margin-right: 3px;
      float: left;
      position: relative;
      cursor: pointer;
  }
  section{
    display: inline-block;
    width: 75%;
  }
  aside{
    display: inline-block;
    width: 20%;
    vertical-align: top;

  }

  #speedometer{
  background-color: black;
  color: yellow;
  height: 110px;
  width: 110px;
  margin: 20px auto;
  font-size: 36px;
  font-family: 'Codystar';

}

#home{
  background-color: white;
}
.runnerOn{
  background-color: red;
}
/*.infield{
  background-color: #009688;
}*/
/*#009688*/
